@import "./data/constant.css";

.app {
  width: 97vw;
  height: 92vh;
  background-color: white;
  border: 2px solid black;
}

.app-title {
  padding-left: var(--padding-constant);
  height: 5%;
}

.sections-container {
  display: flex;
  height: 95%;
}
